// top row of the editor, for both settings and the pattern list editor
#editor_top {
	width: 100%;
	overflow: hidden;
	height: 200px;
	display: block;
	background: #4b4b4b;
}

// bottom row of the editor, for the tracker editor
#editor_bottom {
	display: block;
	width: 100%;
	height: -webkit-fill-available;
	overflow: hidden;
}
