:root {
	--patterneditor-y: 0;
}

@labelheight: 28px;
@charsize: 9px;
@chanwidth: (@charsize * 11) + 4;
@rowwidth: 27px;
@itemheight: 18px;

.patterneditor {
	position: relative;
	outline: none;
	width: -webkit-fill-available;
	height: 100%;

	&> .patterneditorwrap {
		overflow-y: hidden;
		overflow-x: hidden;
		white-space: nowrap;
		height: 100%;

		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}

		&::-webkit-scrollbar {
			background: #222222;
		}

		&::-webkit-scrollbar-thumb {
			background: #555555;
		}

		&::-webkit-scrollbar-corner {
			background: transparent;
		}

		&> .channelwrapper {
			position: relative;
			display: inline-block;
			contain: layout;
			border-right: 4px solid black;
			z-index: 11;

			&:not(:first-child) {
				width: @chanwidth + 4;

				&> .channelnamewrapper::after {
					content: "";
					position: absolute;
					right: 4px; top: 4px; bottom: 4px;
					width: @labelheight - 8px;
					background: #7b2808;
					cursor: e-resize;
					z-index: 12;
				}

				&> .channelnamewrapper > label::after {
					content: "";
					position: absolute;
					right: @labelheight + 4px; left: 8px; bottom: 3px;
					height: 4px;
					background: #521b00;
				}
			}

			&:first-child {
				width: @rowwidth + 4;

				&> .channelnamewrapper {
					width: @rowwidth + 4;
				}

				&> .patternlistwrapper {
					width: @rowwidth;

					&> .patternlist {
						width: @rowwidth;

						&> div {
							width: @rowwidth;
						}
					}
				}
			}

			&> .channelnamewrapper {
				contain: layout size;
				position: relative;
				height: @labelheight;
				background: #9e4216;
				text-align: center;
				border-bottom: 2px solid black;
				z-index: 11;
				width: @chanwidth + 4;

				&> label {
					height: 100%;
					color: white;
					font-family: 'Noto Sans', sans-serif;
					font-size: 11pt;
					font-weight: bold;
					padding-right: @labelheight - 4px;
				}
			}
		}
	}
}

.patterncanvas {
	z-index: 10;
	position: absolute;
	left: 0;
}

.patternextras {
	left: 0; top: 0; bottom: 0;
	z-index: 20;
	position: absolute;
	pointer-events: none;

	&> .highlight {
		position: absolute;
		left: 0px; right: 4px;
		top: calc(50% - 1px);
		height: @itemheight - 2;
		border: 2px solid #888;
	}
}
