.scrollbar {
	position: absolute;
	z-index: 1100;

	&> .gripwrap {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;

		&> .grip {
			position: absolute;
			pointer-events: none;

			&> svg  {
				position: absolute;
			}
		}
	}

	&.vertical > .gripwrap > .grip {
		width: 100%;

		&> svg  {
			width: 100%;
			height: auto;
			transform: translateY(-50%);
			top: 50%;
		}
	}

	&.horizontal > .gripwrap > .grip {
		height: 100%;

		&> svg  {
			width: auto;
			height: 100%;
			transform: translateX(-50%) rotate(-90deg);
			left: 50%;
		}
	}

	&> .scrollbarbutton {
		position: absolute;

		&> svg  {
			width: 100%;
			height: 100%;
		}
	}
}
