/**
 * Main slider handler
 */

.slider {
	background: #1c1b1f;
	display: inline-block;
	font-family: sans-serif;
	vertical-align: top;

	// the container for the editable value and the icon
	&> .slider_text {
		display: inline-block;
		position: relative;

		&> div, textarea {
			display: inline-block;
			color: #d6d6d6;
			overflow: hidden;
			padding: 0;
		}

		// slider value
		&> .slider_value {
			outline: none;
			overflow-wrap: normal;
			white-space: nowrap;
			resize: none;
			background: transparent;
			border: none;
			font: inherit;
			border-radius: 4px;
			transition: background-color ease .2s;

			&:hover {
				background: #2e2f30;
			}

			&:focus {
				background: #393b40;
			}
		}
	}

	// slider bar and ball
	&> .slider_bar {
		background: #2c2d31;
		display: inline-block;
		position: relative;
		border-radius: 4px;

		// ball container
		&> div {
			position: relative;
			pointer-events: none;

			// ball
			&> button {
				border: none;
				outline: none;
				display: inline-block;
				position: absolute;
				background: #626573;
				border-radius: 2px;
				top: 0;
				left: 0;
				padding: 0;
			}
		}
	}
}

/**
 * Font sizes for all slider size variants
 */
.slider.slider_small {
	font-size: 10pt;
}

.slider.slider_medium {
	font-size: 12pt;
}

.slider.slider_large {
	font-size: 15pt;
}

/**
 * Code to handle horizontal slider bars
 */

.slider.slider_horizontal > .slider_bar > div.animate {
	transition: left ease-in-out .25s;
}

.slider.slider_horizontal.slider_small {
	.slider_horizontal(1.5em, 5em, 3em, 0.6em, 0.6em, 0.2em);
}

.slider.slider_horizontal.slider_medium {
	.slider_horizontal(1.5em, 6em, 4em, 0.85em, 0.7em, 0.25em);
}

.slider.slider_horizontal.slider_large {
	.slider_horizontal(1.6em, 9em, 4.5em, 1em, 0.7em, 0.3em);
}

.slider_horizontal(@height, @bar_width, @value_width, @ball_width, @bar_pad, @bar_margin) {
	height: @height;

	&> .slider_text {
		padding-right: 0.35em;
		margin: @height*0.15 0%;
		height: @height*0.7;

		&> .slider_value {
			width: @value_width;
			text-align: center;
		}

		&> div, textarea {
			height: 100%;
		}
	}

	&> .slider_bar {
		float: right;
		width: @bar_width;
		margin: @height*0.2 0%;
		height: @height*0.6;
		padding-right: @bar_pad;
		margin-right: @bar_margin;

		&> div {
			height: 100%;

			&> button {
				width: @ball_width;
				height: 100%;
			}
		}
	}
}

/**
 * Code to handle vertical slider bars
 */

.slider.slider_vertical > .slider_bar > div.animate {
	transition: top ease-in-out .25s;
}

.slider.slider_vertical.slider_small {
	.slider_vertical(1.5em, 5em, 3em, 0.6em, 0.6em, 0.2em);
}

.slider.slider_vertical.slider_medium {
	.slider_vertical(1.75em, 6em, 4em, 0.85em, 0.7em, 0.25em);
}

.slider.slider_vertical.slider_large {
	.slider_vertical(2em, 9em, 4.5em, 1em, 0.7em, 0.3em);
}

.slider_vertical(@width, @bar_height, @value_width, @ball_height, @bar_pad, @bar_margin) {
	width: @width;

	&> .slider_text {
		padding-bottom: 0.35em;
		margin: 0% @width*0.15;
		width: @width*0.7;

		&> div, textarea {
			width: 100%;
			text-align: center;
		}
	}

	&> .slider_bar {
		float: right;
		height: @bar_height;
		margin: 0% @width*0.2;
		width: @width*0.6;
		padding-bottom: @bar_pad;
		margin-bottom: @bar_margin;

		&> div {
			height: 100%;

			&> button {
				height: @ball_height;
				width: 100%;
			}
		}
	}
}

/**
 * Volume slider classes
 */
#main_volume_slider {
	padding-left: 0.1em;

	&> svg {
		width: 100%;
		height: 100%;

		&> path {
			transition: d 0.25s ease, stroke .2s ease-in-out;
		}
	}
}

._vb_1_en(@child) {
	&:nth-child(@{child}) {
		d: path("M 61 36 C 68,44 68,56 61,64");
	}
}

._vb_2_en(@child) {
	&:nth-child(@{child}) {
		d: path("M 70 22 C 84,40 84,60 70,78");
	}
}

._vb_3_en(@child) {
	&:nth-child(@{child}) {
		d: path("M 78 9 C 100,32 100,68 78,91");
	}
}

.volume_loud > svg > path {
	._vb_1_en(2);
	._vb_2_en(3);
	._vb_3_en(4);
	stroke: #ff8080;
}

.volume_3 > svg > path {
	._vb_1_en(2);
	._vb_2_en(3);
	._vb_3_en(4);
}

.volume_2 > svg > path {
	._vb_1_en(2);
	._vb_2_en(3);
	._vb_2_en(4);
}

.volume_1 > svg > path {
	._vb_1_en(2);
	._vb_1_en(3);
	._vb_1_en(4);
}

.volume_mute > svg > path {
	&:nth-child(2) {
		d: path("M 66 30 C 80,50 80,50 95,70");
	}
	&:nth-child(3) {
		d: path("M 66 30 C 80,50 80,50 95,70");
	}
	&:nth-child(4) {
		d: path("M 95 30 C 80,50 80,50 65,70");
	}
}
